<?xml version="1.0" encoding="UTF-8"?>

<!-- ============================================================= 	-->
<!-- VERSION DE SERVLET API 3.1.0                                   -->
<!-- Doit correspondre avec Dynamic Web Module 3.1 dans Eclipse 	-->
<!-- http://crunchify.com/ever-wondered-difference-between-dynamic-web-module-3-0-and-3-1-how-to-setup-3-1-correct-way-in-eclipse/ -->
<!-- ============================================================= 	-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:web="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">

	<!-- Nom de l'application -->
	<display-name>tuto_web_jee1.8.144</display-name>

			<!-- ======================================================= -->
			<!-- SERVLET defaut. URL : / ou /static/*  					 -->
			<!-- Indispensable pour accéder aux ressources statiques	 -->
			<!-- ======================================================= -->

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/static/*</url-pattern>
	</servlet-mapping>

			<!-- ============================================== -->
			<!-- SERVLET AccueilController. URL : /entree  		-->
			<!-- ============================================== -->	
	<!-- Définition de la Servlet (Contrôleur). -->
	<servlet>
		
		<description>Point d'entrée officiel de l'application</description>
				
		<!-- nom de la Servlet -->
		<servlet-name>AccueilController</servlet-name>
		<!-- Classe de la Servlet (avec des séparateurs . et sans .class) -->
		<servlet-class>levy.daniel.application.controllers.web.accueil.AccueilController</servlet-class>
		
		<init-param>
			<description>nom de l'auteur</description>
			<param-name>auteur</param-name>
			<param-value>Lévy</param-value>
		</init-param>
		
		<!-- Chargement de la Servlet dès le démarrage du serveur juste après celle de numéro 0 -->
		<load-on-startup>1</load-on-startup>
		
	</servlet>
		
	<!-- Mapping de la Servlet par rapport à une URL -->
	<servlet-mapping>
		<!-- Correspond au nom d'une Servlet dans la partie Définition -->
		<servlet-name>AccueilController</servlet-name>
		<!-- URL à taper dans le navigateur par rapport au CONTEXTE -->
		<!-- pour atteindre la Servlet.								-->
		<url-pattern>/entree</url-pattern>
	</servlet-mapping>



			<!-- ============================================== -->
			<!-- SERVLET PersonneController. URL : /personne  		-->
			<!-- ============================================== -->	
	
	<!-- Définition de la Servlet (Contrôleur). -->
	<servlet>	
		<description>Accès à une Personne</description>
				
		<!-- nom de la Servlet -->
		<servlet-name>PersonneController</servlet-name>
		<!-- Classe de la Servlet (avec des séparateurs . et sans .class) -->
		<servlet-class>levy.daniel.application.controllers.web.metier.personne.PersonneController</servlet-class>		
	</servlet>
	
		<!-- Mapping de la Servlet par rapport à une URL -->
	<servlet-mapping>
		<!-- Correspond au nom d'une Servlet dans la partie Définition -->
		<servlet-name>PersonneController</servlet-name>
		<!-- URL à taper dans le navigateur par rapport au CONTEXTE -->
		<!-- pour atteindre la Servlet.								-->
		<url-pattern>/personne</url-pattern>
	</servlet-mapping>
	

			<!-- ======================================================== -->
			<!-- SERVLET CreateCommandeController. URL : /createCommande  -->
			<!-- ======================================================== -->	

	<!-- Définition de la Servlet (Contrôleur). -->
	<servlet>	
		<description>Accès la création d'une commande</description>
				
		<!-- nom de la Servlet -->
		<servlet-name>CreateCommandeController</servlet-name>
		<!-- Classe de la Servlet (avec des séparateurs . et sans .class) -->
		<servlet-class>levy.daniel.application.controllers.web.metier.commande.CreateCommandeController</servlet-class>		
	</servlet>
	
		<!-- Mapping de la Servlet par rapport à une URL -->
	<servlet-mapping>
		<!-- Correspond au nom d'une Servlet dans la partie Définition -->
		<servlet-name>CreateCommandeController</servlet-name>
		<!-- URL à taper dans le navigateur par rapport au CONTEXTE -->
		<!-- pour atteindre la Servlet.								-->
		<url-pattern>/entree/createCommande</url-pattern>
	</servlet-mapping>

	
			<!-- ======================================================== -->
			<!-- SERVLET CreateClientController. URL : /createClient      -->
			<!-- ======================================================== -->	
	
	<!-- Définition de la Servlet (Contrôleur). -->
	<servlet>
	
		<description>Accès la création d'un client</description>
				
		<!-- nom de la Servlet -->
		<servlet-name>CreateClientController</servlet-name>
		<!-- Classe de la Servlet (avec des séparateurs . et sans .class) -->
		<servlet-class>levy.daniel.application.controllers.web.metier.client.CreateClientController</servlet-class>
		
	</servlet>
	
	<!-- Mapping de la Servlet par rapport à une URL -->
	<servlet-mapping>
		<!-- Correspond au nom d'une Servlet dans la partie Définition -->
		<servlet-name>CreateClientController</servlet-name>
		<!-- URL à taper dans le navigateur par rapport au CONTEXTE -->
		<!-- pour atteindre la Servlet.								-->
		<url-pattern>/entree/createClient</url-pattern>
	</servlet-mapping>


			<!-- ============================================== -->
			<!-- SERVLET ServletJ2eeAccueil. URL : /accueil  	-->
			<!-- ============================================== -->
	<!-- Définition de la Servlet (Contrôleur). -->
	<servlet>
	
		<description>Première Servlet de Test</description>
				
		<!-- nom de la Servlet -->
		<servlet-name>ServletJ2eeAccueil</servlet-name>
		<!-- Classe de la Servlet (avec des séparateurs . et sans .class) -->
		<servlet-class>levy.daniel.application.controllers.web.ServletJ2eeAccueil</servlet-class>
		
		<init-param>
			<description>nom de l'auteur</description>
			<param-name>auteur</param-name>
			<param-value>Coyote</param-value>
		</init-param>
		
		<!-- Chargement de la Servlet dès le démarrage du serveur juste après celle de numéro 0 -->
		<load-on-startup>1</load-on-startup>
		
	</servlet>
	
	<!-- Mapping de la Servlet par rapport à une URL -->
	<servlet-mapping>
		<!-- Correspond au nom d'une Servlet dans la partie Définition -->
		<servlet-name>ServletJ2eeAccueil</servlet-name>
		<!-- URL à taper dans le navigateur par rapport au CONTEXTE -->
		<!-- pour atteindre la Servlet.								-->
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>


		<!-- ======================================== -->
		<!-- DIRECTIVES A INCLURE DANS TOUTES LES JSP -->
		<!-- ======================================== -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/vues/web/taglibs.jsp</include-prelude>
		</jsp-property-group>
		
		<!-- DECLARATION DES TAGLIBS -->
		<taglib>
		    <taglib-uri>/WEB-INF/tld/c-1_0-rt.tld</taglib-uri>
		    <taglib-location>/WEB-INF/tld/c-1_0-rt.tld</taglib-location>
		</taglib>
		
		<taglib>
		    <taglib-uri>/WEB-INF/tld/c-1_1.tld</taglib-uri>
		    <taglib-location>/WEB-INF/tld/c-1_1.tld</taglib-location>
		</taglib>
		
		<taglib>
		    <taglib-uri>/WEB-INF/tld/c.tld</taglib-uri>
		    <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>
		
		<taglib>
		    <taglib-uri>/WEB-INF/tld/fmt-1_0-rt.tld</taglib-uri>
		    <taglib-location>/WEB-INF/tld/fmt-1_0-rt.tld</taglib-location>
		</taglib>

		<taglib>
		    <taglib-uri>/WEB-INF/tld/fmt.tld</taglib-uri>
		    <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
		</taglib>

		<taglib>
		    <taglib-uri>/WEB-INF/tld/fn.tld</taglib-uri>
		    <taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
		</taglib>

		<taglib>
		    <taglib-uri>/WEB-INF/tld/permittedTaglibs.tld</taglib-uri>
		    <taglib-location>/WEB-INF/tld/permittedTaglibs.tld</taglib-location>
		</taglib>

		<taglib>
		    <taglib-uri>/WEB-INF/tld/scriptfree.tld</taglib-uri>
		    <taglib-location>/WEB-INF/tld/scriptfree.tld</taglib-location>
		</taglib>

		<taglib>
		    <taglib-uri>/WEB-INF/tld/sql-1_0-rt.tld</taglib-uri>
		    <taglib-location>/WEB-INF/tld/sql-1_0-rt.tld</taglib-location>
		</taglib>

		<taglib>
		    <taglib-uri>/WEB-INF/tld/sql.tld</taglib-uri>
		    <taglib-location>/WEB-INF/tld/sql.tld</taglib-location>
		</taglib>

		<taglib>
		    <taglib-uri>/WEB-INF/tld/x-1_0-rt.tld</taglib-uri>
		    <taglib-location>/WEB-INF/tld/x-1_0-rt.tld</taglib-location>
		</taglib>

		<taglib>
		    <taglib-uri>/WEB-INF/tld/x.tld</taglib-uri>
		    <taglib-location>/WEB-INF/tld/x.tld</taglib-location>
		</taglib>
			
	</jsp-config>


		<!-- ======================================== -->
		<!-- Fichiers accédés directement -->
		<!-- ======================================== -->
	
	<welcome-file-list>
		
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

</web-app>